<?xml version='1.0' encoding='ISO-8859-1'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:mem:calopsita</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.pool_size">8</property>

		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="current_session_context_class">thread</property>

		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">true</property>

		<property name="hibernate.c3p0.max_size">5</property>
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.timeout">5000</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>

		<mapping class="br.com.caelum.calopsita.model.Project" />
		<mapping class="br.com.caelum.calopsita.model.Card" />
		<mapping class="br.com.caelum.calopsita.model.PrioritizableCard" />
		<mapping class="br.com.caelum.calopsita.model.User" />
		<mapping class="br.com.caelum.calopsita.model.Iteration" />
	</session-factory>
</hibernate-configuration>
