body {
	font-family: verdana;	
	background: #dee4e6 url(../images/calopsita-background.png) 100% 100% no-repeat fixed;
}

.separador {
	border: 0px;
	background-color: #eaeeef;
	color: #eaeeef;
	height: 3px;
	width: 100%;
}

#logo {
	float: left;
}

#logo img {
	border: 0;
}

.hidden {
	display: none;	
}

.clear {
	clear: both;	
}

#header #user {
	float: left;
	margin-left: 300px;
}

#header #user #name {
	font-weight: bold;
}

#errors {
	clear: both;
	color: #F00;
	font-weight: bold;
}

.separador {
	clear: both;
}

.help {
	display: none;
	background-color: yellow;
	border: 1px;
	border-color: gray;	
}
