#feedback {
	font-size: 1.4em;
}

.ui-selecting {
	background: #FECA40;
}

.ui-selected {
	background: #F39814;
	color: white;
}

.ui-draggable {
	cursor: pointer;
}

.board {
	list-style-type: none;
	display: table-cell;
	margin : 0;
	width: 740px;
	height: 125px;
	padding: 10px;
	border: thin solid gray;
}

.table {
	float: right;
	width: 400px;
}
.hidden {
	display: none;
}

.card {
	margin: 3px;
	display: table;
	float: left;
	padding: 0.4em;
	border: thin solid gray;
	width: 100px;
	height: 80px;
}

.title {
	font-weight: bold;
	font-size: 10px;
	color: blue;
}

.title_date {
	height: 15px;
}

#timeline {
  float: left;
}

.date {
	border: 1px solid;
	width:50px;
}

.date_and_title {
	text-align: center;
	font-size:15px;
}

#start_and_today {
  float: left;  
}

#today_and_end {
  float: left;  
}

#today_start {
  float: left;  
}

#start {
  float: left;  
  font-size: 40px;
  height: 54px;
}

#end {
  float: left;  
  font-size: 40px;
  height: 54px;
}

#today_end {
  float: right;  
  display: none;
}

#today_end_line {
  float: right;  
  border-width: 0px;
  display: none;
}

#start_end_line {
  float: left; 
  width: 300px; 
}

#start_today_line {
  float: left;  
  width: 300px;
}

.line {
    border-color:#000000 -moz-use-text-color -moz-use-text-color;
    border-style:dashed none none;
    border-width:1px;
    height:1px;
    margin-top:30px;
}

.today {
  border: 2px solid;
}

.year {
	background: #AA0000;
	color: #FFFFFF;
	margin: 0px;
	font-size:15px;
}

.day {
	margin: 0px;
	font-size:15px;
}

.month {
	margin: 0px;
	background: #DDDDDD;
	font-size:15px;
}