#feedback {
	font-size: 1.4em;
}

.ui-selecting {
	background: #FECA40;
}

.ui-selected {
	background: #F39814;
	color: white;
}

.board {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	width: 50%;
	height: 100px;
	border-color: gray;
	border-width: thin;
	border-style: solid;
}

.hidden {
	display: none;
}

.story {
	margin: 3px;
	padding: 0.4em;
	font-size: 1.4em;
	height: 18px;
	border-style: solid;
	border-width: thin;
	border-color: gray;
	width: 100px;
	height: 80px;
	float: left;
}

.title {
	font-weight: bold;
	font-size: 10px;
	color: blue;
}