label { 
  width: 8em;
  float: left; 
}

label.error {
	float: none; 
	color: red; 
	padding-left: .5em; 
	vertical-align: top;
}

input {
  width: 200px;
}

input.error {
	border: 2px solid red;
}

textarea {
  width: 200px;
  height: 80px;
}

textarea.error {
  border: 2px solid red;
}

p { 
  clear: both;
}

.submit { 
  margin-left: 9.5em; 
  width: 100px;
}

em { 
  padding-right: 1em; 
  vertical-align: top; 
}

.delete {
	color: red;
}