.story .description {
	margin: 10px 0 0 10px;
	clear: both;
	display: none;
}

.story .description pre {
	margin: 0;	
}
.story .name, .iteration .goal {
	float: left;
	cursor: pointer;
	width: 90%;	
}

.cardForm {
	float: left;
}

#cards {
	width: 70%;
	float: left;	
}

.information .story {
	width: 90%;
}

.information h4 {
	margin: 0;
	padding: 0;	
}
.stories, .iterations {
	padding: 0;	
}

.story, .card, .iteration, .pretty li {
	float: left;
	clear: both;
	width: 500px;
	list-style-type: none;
	border: 1px solid gray;
	margin: 4px;
	padding: 5px;
}

.story:HOVER, .iteration:HOVER, .pretty li:HOVER {
	background-color: #eaeeef;	
}

.pretty li {
	width: 200px;	
}

.pretty {
	clear: both;
	margin: 0;
	padding: 0;
}
.story a, .iteration a {
	color: #004276;	
	text-decoration: none;
}

.information {
	float: left;
	width: 170px;
	border: 1px solid gray;
	padding: 10px;
	margin-left: 20px;
}
#page-tabs {
	float: left;
	min-width: 880px;
}
#page-tabs.no-information {
	width: 100%;	
}

label { 
  width: 8em;
  float: left; 
}

label.error {
	float: none; 
	color: red; 
	padding-left: .5em; 
	vertical-align: top;
}

input[type="text"] {
  width: 465px;
}

input.error {
	border: 2px solid red;
}
#project {
	float: right;	
}
textarea {
  width: 465px;
  height: 80px;
}

textarea.error {
  border: 2px solid red;
}

p { 
  clear: both;
}

.submit { 
  margin-left: 9.5em; 
  width: 100px;
}

em { 
  padding-right: 1em; 
  vertical-align: top; 
}

.action {
	visibility: hidden;
	color: red;
	float: right;
	text-decoration: none;
}
*:HOVER > .action {
	visibility: visible;	
}

.owner {
  font-weight: bold;
}

li#current {
  font-weight: bold;
}

#left {
  float: left;
  width: 540px;
}

#right {
  float: left;
  width: 540px;
}

#undoForm {
  clear: both;
}

/* begin sub-menu tabs */

ul.submenu  {
	list-style-type:none;
	margin:-12px 0px 12px;
	padding: 0px 10px 6px;
}

ul.submenu li {
	display: inline;
	margin: 0px 5px;
}

ul.submenu li.selected {
	background-color:#FFFFFF;
	padding: 0px 4px 4px;
}

ul.submenu li.selected a {
	color:#333333;
	text-decoration:none;
}

ul.submenu li a {
	color: #FFFFFF;
	font: bold 11px verdana, sans-serif;
	text-decoration: none;
}
ul.submenu a:hover {
	background-color:#FFFFFF;
	color:#333333;
	margin:0 -4px;
	padding:4px 4px 5px;
}

/* end sub-menu tabs */
/* begin css tabs */

#menu { /* general settings */
	margin: 1em 0 1em 0; /* set margins as desired */
	font: bold 11px verdana, sans-serif; /* set font as desired */
	border-bottom: 25px solid #bf2126; /* set border COLOR as desired */
	list-style-type: none;
	padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

#menu > li { /* do not change */
	display: inline;
	margin-left: 2px;
}

#menu > li.selected a { /* settings for selected tab */
	background-color: #FFFFFF; /* set background color to match above border color */
}

div#tab1 li.tab1 a, div#tab2 li.tab2 a, div#tab3 li.tab3 a, div#tab4 li.tab4 a { /* settings for selected tab link */
	background-color: #EEEEEE; /* set selected tab background color as desired */
	color: #000000; /* set selected tab link color as desired */
	position: relative;
	top: 1px;
	padding-top: 4px; /* must change with respect to padding (X) above and below */
}

#menu > li a { /* settings for all tab links */
	padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
	border: 3px solid #bf2126; /* set border COLOR as desired; usually matches border color specified in #tabnav */
	background-color: #EEEEEE; /* set unselected tab background color as desired */
	color: #666666; /* set unselected tab link color as desired */
	margin-right: 0px; /* set additional spacing between tabs as desired */
	text-decoration: none;
	border-bottom: none;
}

#menu > a:hover { /* settings for hover effect */
	background: #DCDCDC; /* set desired hover color */
}

.submenu {
	display: none;
	float: left;
}

#menu > li:hover + .submenu, .submenu:hover, .submenu.selected {
	display: block;
	margin-top: 3px;
	padding-top: 5px;
	margin-left: 0;
	width:60%;
}

/* end css tabs */